<!DOCTYPE html>
<html>

<head>
    <title>Signup Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f4f6;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(135deg, #3498db, #8e44ad);
        }

        .signup-container {
            background: linear-gradient(135deg, #3498db, #8e44ad);
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            padding: 20px;
            width: 300px;
            text-align: center;
            color: #fff;
        }

        .signup-container h2 {
            margin: 0 0 20px 0;
            font-size: 24px;
        }

        .signup-container input[type="text"],
        .signup-container input[type="password"],
        .signup-container input[type="email"],
        .signup-container input[type="date"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: none;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
            color: #fff;
        }

        .signup-container input[type="submit"] {
            background-color: #8e44ad;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 10px 15px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .signup-container input[type="submit"]:hover {
            background-color: #6c3483;
        }

        .signup-container {
            color: black;
            width: 350px
        }

        form {
            width: 330px;
        }
    </style>
</head>

<body>
    <div class="signup-container">
        <h2>Sign Up</h2>
        <form action="/signup" method="post">

            {{!-- <input type="text" placeholder="Full Name" name="full_name" required> --}}
            <input type="text" placeholder="name" name="name" required>
            <input type="email" placeholder="Email" name="email" required>
            {{!-- <input type="date" placeholder="Date of Birth" name="dob" required> --}}
            <input type="password" placeholder="Password" name="password" required>
            {{!-- <input type="password" placeholder="Confirm Password" name="confirm_password" required> --}}
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>

</html>